<div class="row justify-content-center">
  <div class="col-8">
    <form name="askForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="askForm">
      <h2 id="jhi-trade-suggestion-heading">Ask Suggestion</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!askForm.get('id')!.value">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_currentMarketPrice">Current Market Price</label>
          <input
            type="number"
            class="form-control"
            name="currentMarketPrice"
            id="field_currentMarketPrice"
            formControlName="currentMarketPrice"
          />
          <div
            *ngIf="
              askForm.get('currentMarketPrice')!.invalid &&
              (askForm.get('currentMarketPrice')!.dirty || askForm.get('currentMarketPrice')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="askForm.get('currentMarketPrice')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="askForm.get('currentMarketPrice')?.errors?.min">
              This field should be at least 1000.
            </small>
            <small class="form-text text-danger" *ngIf="askForm.get('currentMarketPrice')?.errors?.max">
              This field cannot be more than 9999.
            </small>
            <small class="form-text text-danger" [hidden]="!askForm.get('currentMarketPrice')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_minProfitPoints">Min Profit Points</label>
          <input type="number" class="form-control" name="minProfitPoints" id="field_minProfitPoints" formControlName="minProfitPoints" />

          <!-- <div
            *ngIf="
              askForm.get('minProfitPoints')!.invalid && (askForm.get('minProfitPoints')!.dirty || askForm.get('minProfitPoints')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="askForm.get('minProfitPoints')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="askForm.get('minProfitPoints')?.errors?.min">
              This field should be at least 8.
            </small>
            <small class="form-text text-danger" *ngIf="askForm.get('minProfitPoints')?.errors?.max">
              This field cannot be more than 28.
            </small>
            <small class="form-text text-danger" [hidden]="!askForm.get('minProfitPoints')?.errors?.number">
              This field should be a number.
            </small>
          </div> -->
        </div>

        <!-- <div class="form-group">
          <label class="form-control-label" for="field_action">Action</label>
          <select class="form-control" name="action" formControlName="action" id="field_action">
            <option value="BUY">BUY</option>
            <option value="SELL">SELL</option>
            <option value="WAIT">WAIT</option>
          </select>
        </div> -->

        <!-- <div class="form-group">
          <label class="form-control-label" for="field_tradeInPrice">Trade In Price</label>
          <input type="number" class="form-control" name="tradeInPrice" id="field_tradeInPrice" formControlName="tradeInPrice" />
        </div> -->

        <!-- <div class="form-group">
          <label class="form-control-label" for="field_minTradeOutPrice">Min Trade Out Price</label>
          <input
            type="number"
            class="form-control"
            name="minTradeOutPrice"
            id="field_minTradeOutPrice"
            formControlName="minTradeOutPrice"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_minProfitPoints">Min Profit Points</label>
          <input type="number" class="form-control" name="minProfitPoints" id="field_minProfitPoints" formControlName="minProfitPoints" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_betterTradeoutPrice">Better Tradeout Price</label>
          <input
            type="number"
            class="form-control"
            name="betterTradeoutPrice"
            id="field_betterTradeoutPrice"
            formControlName="betterTradeoutPrice"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_betterTradeOutProfitPoints">Better Trade Out Profit Points</label>
          <input
            type="number"
            class="form-control"
            name="betterTradeOutProfitPoints"
            id="field_betterTradeOutProfitPoints"
            formControlName="betterTradeOutProfitPoints"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_actualTradeoutPrice">Actual Tradeout Price</label>
          <input
            type="number"
            class="form-control"
            name="actualTradeoutPrice"
            id="field_actualTradeoutPrice"
            formControlName="actualTradeoutPrice"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_actualProfitPoints">Actual Profit Points</label>
          <input
            type="number"
            class="form-control"
            name="actualProfitPoints"
            id="field_actualProfitPoints"
            formControlName="actualProfitPoints"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_slPoints">Sl Points</label>
          <input type="number" class="form-control" name="slPoints" id="field_slPoints" formControlName="slPoints" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tradeStatus">Trade Status</label>
          <select class="form-control" name="tradeStatus" formControlName="tradeStatus" id="field_tradeStatus">
            <option value="PENDING">PENDING</option>
            <option value="EXECUTED">EXECUTED</option>
            <option value="COMPLETED">COMPLETED</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tradeResults">Trade Results</label>
          <select class="form-control" name="tradeResults" formControlName="tradeResults" id="field_tradeResults">
            <option value="SUCCESS">SUCCESS</option>
            <option value="FAILURE">FAILURE</option>
            <option value="NEUTRAL">NEUTRAL</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tradeInTime">Trade In Time</label>
          <div class="d-flex">
            <input
              id="field_tradeInTime"
              type="datetime-local"
              class="form-control"
              name="tradeInTime"
              formControlName="tradeInTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tradeOutTime">Trade Out Time</label>
          <div class="d-flex">
            <input
              id="field_tradeOutTime"
              type="datetime-local"
              class="form-control"
              name="tradeOutTime"
              formControlName="tradeOutTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tradeDuration">Trade Duration</label>
          <input type="number" class="form-control" name="tradeDuration" id="field_tradeDuration" formControlName="tradeDuration" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tradeDate">Trade Date</label>
          <div class="input-group">
            <input
              id="field_tradeDate"
              type="text"
              class="form-control"
              name="tradeDate"
              ngbDatepicker
              #tradeDateDp="ngbDatepicker"
              formControlName="tradeDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="tradeDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tradeSuggestionTime">Trade Suggestion Time</label>
          <div class="d-flex">
            <input
              id="field_tradeSuggestionTime"
              type="datetime-local"
              class="form-control"
              name="tradeSuggestionTime"
              formControlName="tradeSuggestionTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tradeType">Trade Type</label>
          <select class="form-control" name="tradeType" formControlName="tradeType" id="field_tradeType">
            <option value="NRML">NRML</option>
            <option value="MIS">MIS</option>
            <option value="CO">CO</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_actualPL">Actual PL</label>
          <input type="number" class="form-control" name="actualPL" id="field_actualPL" formControlName="actualPL" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_waitDuration">Wait Duration</label>
          <input type="number" class="form-control" name="waitDuration" id="field_waitDuration" formControlName="waitDuration" />
        </div> -->

        <!-- <div class="form-group">
          <label class="form-control-label" for="field_slPrice">Sl Price</label>
          <input type="number" class="form-control" name="slPrice" id="field_slPrice" formControlName="slPrice" />
        </div> -->
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="askForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
