<div class="row justify-content-center">
  <div class="col-8">
    <form name="askForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="askForm">
      <h2 id="jhi-trade-suggestion-heading">Ask Suggestion</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!askForm.get('id')!.value">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_currentMarketPrice">Current Market Price</label>
          <input
            type="number"
            class="form-control"
            name="currentMarketPrice"
            id="field_currentMarketPrice"
            formControlName="currentMarketPrice"
          />
          <div
            *ngIf="
              askForm.get('currentMarketPrice')!.invalid &&
              (askForm.get('currentMarketPrice')!.dirty || askForm.get('currentMarketPrice')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="askForm.get('currentMarketPrice')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="askForm.get('currentMarketPrice')?.errors?.min">
              This field should be at least 1000.
            </small>
            <small class="form-text text-danger" *ngIf="askForm.get('currentMarketPrice')?.errors?.max">
              This field cannot be more than 9999.
            </small>
            <small class="form-text text-danger" [hidden]="!askForm.get('currentMarketPrice')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_minProfitPoints">Min Profit Points</label>
          <input type="number" class="form-control" name="minProfitPoints" id="field_minProfitPoints" formControlName="minProfitPoints" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="askForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
