<div>
  <h2 id="page-heading" data-cy="WishHeading">
    <span>Wishes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wish"
        [routerLink]="['/wish/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Wish </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wishes?.length === 0">
    <span>No wishes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wishes && wishes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="myWishNote"><span>My Wish Note</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="startDate"><span>Start Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fulfilled"><span>Fulfilled</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fulfilledDate"><span>Fulfilled Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="duration"><span>Duration</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="category"><span>Category</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let wish of wishes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wish', wish.id, 'view']">{{ wish.id }}</a>
          </td>
          <td>{{ wish.myWishNote }}</td>
          <td>{{ wish.startDate | formatMediumDate }}</td>
          <td>{{ wish.fulfilled }}</td>
          <td>{{ wish.fulfilledDate | formatMediumDate }}</td>
          <td>{{ wish.duration }}</td>
          <td>{{ wish.category }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/wish', wish.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/wish', wish.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(wish)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
